<!DOCTYPE html>
<html>
<head>
<title>Free SEO Audit</title>

<style>
body{
font-family:Arial;
text-align:center;
margin-top:100px;
}

input{
padding:12px;
width:300px;
margin:10px;
}

button{
padding:12px 25px;
background:#0073e6;
color:white;
border:none;
cursor:pointer;
}
</style>

</head>

<body>

<h1>Free SEO Audit Tool</h1>

<form method="POST" action="/generate">

<input type="email" name="email" placeholder="Enter Email" required>
<br>

<input type="text" name="url" placeholder="Enter Website URL" required>
<br>

<button type="submit">Generate Report</button>

</form>

</body>
</html>
